@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
}

body {
  margin-top: -16px;
  overflow-x: hidden;
}

img {
  -webkit-user-select: none;
          user-select: none;
  -webkit-user-drag: none !important;
}

.wrapper {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.head {
  background: url(../Images/head_bg.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 35px;
}

.header .header__nav .header__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__nav .header__list .list__item {
  list-style-type: none;
  margin-left: 75px;
}
.header .header__nav .header__list .list__item:first-child {
  margin-left: 0;
}
.header .header__nav .header__list .list__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #4d4959;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.about {
  background: #f7f7f7;
}
.about .fade_animation-function {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 280px 145px;
  font-family: "Lato", sans-serif;
}
.about .fade_animation-function img {
  display: inline-block;
}
.about .fade_animation-function h3 {
  margin-top: 35px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 700;
  color: #353738;
  letter-spacing: 5px;
  text-align: center;
}
.about .fade_animation-function h3 + p {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  text-align: center;
  color: #848789;
  margin-top: 35px;
  margin-bottom: 0;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
}
.grid .company {
  background: url(../Images/company_bg.png) center no-repeat;
  background-size: cover;
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid .company img {
  display: inline-block;
}
.grid .vintage-oliva img[alt=Bicycle] {
  width: 100%;
  vertical-align: middle;
}
.grid .vintage-oliva .vintage-oliva_info {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 78px 95px;
  font-family: "Lato", sans-serif;
  position: relative;
}
.grid .vintage-oliva .vintage-oliva_info::before {
  content: "";
  width: 50px;
  height: 1px;
  background: #d7d7d7;
  position: absolute;
  bottom: 54px;
}
.grid .vintage-oliva .vintage-oliva_info::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -10px;
  border-top: 10px solid #fff;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}
.grid .vintage-oliva .vintage-oliva_info h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #353738;
  letter-spacing: 4px;
  margin-bottom: 0;
  margin-top: 31px;
}
.grid .vintage-oliva .vintage-oliva_info h3 + p {
  margin-bottom: 0;
  margin-top: 26px;
  font-weight: 400;
  text-align: justify;
  text-align-last: center;
  line-height: 30px;
  font-size: 1rem;
  color: #848789;
}
.grid .boriosa img[alt=Bicycle] {
  width: 100%;
  vertical-align: middle;
}
.grid .boriosa .boriosa_info {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 78px 95px;
  font-family: "Lato", sans-serif;
  position: relative;
}
.grid .boriosa .boriosa_info::before {
  content: "";
  width: 50px;
  height: 1px;
  background: #d7d7d7;
  position: absolute;
  bottom: 54px;
}
.grid .boriosa .boriosa_info::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -10px;
  border-top: 10px solid #fff;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}
.grid .boriosa .boriosa_info h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #353738;
  letter-spacing: 4px;
  margin-bottom: 0;
  margin-top: 31px;
}
.grid .boriosa .boriosa_info h3 + p {
  margin-bottom: 0;
  margin-top: 26px;
  font-weight: 400;
  text-align: justify;
  text-align-last: center;
  line-height: 30px;
  font-size: 1rem;
  color: #848789;
}
.grid .vintage {
  background: url(../Images/vintage_bg.png) center no-repeat;
  background-size: cover;
  grid-column: 2/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid .vintage img {
  display: inline-block;
}
.grid .bicycles {
  background: url(../Images/bicycles.png) center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid .bicycles img {
  display: inline-block;
}
.grid .just-image {
  background: url(../Images/just_image.png) center no-repeat;
  background-size: cover;
}
.grid .retro-bike {
  grid-column: 2/-2;
}
.grid .retro-bike img[alt=Bicycle] {
  width: 100%;
  vertical-align: middle;
}
.grid .retro-bike .retro-bike_info {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 78px 95px;
  font-family: "Lato", sans-serif;
  position: relative;
}
.grid .retro-bike .retro-bike_info::before {
  content: "";
  width: 50px;
  height: 1px;
  background: #d7d7d7;
  position: absolute;
  bottom: 54px;
}
.grid .retro-bike .retro-bike_info::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -10px;
  border-top: 10px solid #fff;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}
.grid .retro-bike .retro-bike_info h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #353738;
  letter-spacing: 4px;
  margin-bottom: 0;
  margin-top: 31px;
}
.grid .retro-bike .retro-bike_info h3 + p {
  margin-bottom: 0;
  margin-top: 26px;
  font-weight: 400;
  text-align: justify;
  text-align-last: center;
  line-height: 30px;
  font-size: 1rem;
  color: #848789;
}

.grid01 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 267px);
}
.grid01 div[class*=grid01__item] {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid01 .grid01__item1 {
  background-image: url(../Images/grid01.png);
}
.grid01 .grid01__item2 {
  background-image: url(../Images/grid02.png);
}
.grid01 .grid01__item3 {
  background-image: url(../Images/grid03.png);
  grid-row: 1/span 2;
  grid-column-start: 3;
}
.grid01 .grid01__item4 {
  background-image: url(../Images/grid04.png);
  grid-row: 1/span 2;
  grid-column-start: 4;
}
.grid01 .grid01__item5 {
  background-image: url(../Images/grid05.png);
  grid-column: -3/span 2;
  background-color: #81cdb0;
  background-blend-mode: soft-light;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.grid01 .grid01__item5 img {
  display: inline-block;
}
.grid01 .grid01__item5 img + p {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-top: 14px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: "Lato", sans-serif;
}
.grid01 .grid01__item6 {
  background-image: url(../Images/grid06.png);
  grid-column: 1/span 2;
}
.grid01 .grid01__item7 {
  background-image: url(../Images/grid07.png);
}
.grid01 .grid01__item8 {
  background-image: url(../Images/grid08.png);
}

.discover_the_shop {
  background: #282f35;
  display: flex;
  justify-content: center;
  padding: 75px 0;
}
.discover_the_shop a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #fff;
  padding: 20px 58px;
  border: 1px solid #fff;
  letter-spacing: 3px;
  transition: 0.5s color ease-in-out, 0.5s background ease-in-out;
  font-weight: 700;
}
.discover_the_shop a:hover {
  color: #282f35;
  background: #fff;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 0px 100px;
  background: #f7f7f7;
  font-family: "Lato", sans-serif;
}
.slider .comment1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider .comment1 .comment1__content {
  font-style: italic;
  margin-top: 1.5rem;
  text-align: center;
}
.slider .comment1 .comment1__head {
  margin-top: 15px;
}
.slider .comment1 .comment1__head .NYC {
  font-weight: 700;
  font-size: 18px;
  color: #1b1b1b;
}
.slider .comment1 .comment1__head .gray {
  color: #969696;
  margin-left: 5px;
  font-size: 18px;
}

.email {
  padding: 109px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.email h4 {
  margin-top: 22px;
  line-height: 34px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}
.email form {
  margin-top: 18px;
  display: flex;
}
.email form input {
  border: 1px solid #d3d7d9;
  padding: 17px 10px;
  width: 400px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  transition: 0.1s border-color linear;
}
.email form input:focus {
  outline: none;
  border-color: #000;
}
.email form input::placeholder {
  color: #929292;
}
.email form button {
  width: 126px;
  margin-left: 8px;
  border-radius: 0;
  border: none;
  background: #64c29e;
  color: #fff;
  position: relative;
  overflow: hidden;
  outline: none;
  display: block;
  cursor: pointer;
}
.email form button span {
  position: relative;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin-bottom: 0;
  display: block;
}
.email form button::before {
  content: "";
  transform: translateX(-50%);
  top: -15px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #16b477;
  position: absolute;
  transition: 0.5s ease-in-out 10ms;
}
.email form button:hover::before {
  width: 700px;
  height: 700px;
}

.footer {
  background: #f7f7f7;
  font-family: "Lato", sans-serif;
  padding: 99px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer .address {
  justify-self: end;
  margin-right: 48px;
}
.footer .address p {
  color: #848789;
  line-height: 18px;
}
.footer .address .address__city {
  font-weight: 700;
  font-style: initial;
}
.footer .address .address__avenue, .footer .address .address__email {
  font-weight: 400;
  font-style: italic;
}
.footer .soocial-icons {
  justify-self: center;
}
.footer .soocial-icons a {
  margin-left: 15px;
  text-decoration: none;
}
.footer .soocial-icons a:first-child {
  margin-left: 0;
}

.company, .vintage, .bicycles, .just-image, div[class*=grid01__item] {
  cursor: pointer;
}

@media (max-width: 1320px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid .company {
    grid-column: 1/2;
  }
}
@media (max-width: 880px) {
  .grid {
    display: block;
  }
  .grid .company {
    padding: calc((400px - 118px) / 2) 0;
  }
  .grid .vintage {
    padding: calc((400px - 152px) / 2) 0;
  }
  .grid .bicycles {
    padding: calc((400px - 67px) / 2) 0;
  }
}
@media (max-width: 602px) {
  .header .header__nav .header__list {
    flex-direction: column;
  }
  .header .header__nav .header__list .list__item {
    margin-left: 0;
    margin-top: 20px;
  }
  .header .header__nav .header__list .list__item a {
    font-size: 1.25em;
    color: #373d47;
  }
  .header .header__nav .header__list .list__item:nth-child(3) {
    order: -1;
    margin-top: 0;
  }
}
@media (max-width: 1080px) {
  .about div.fade_animation-function {
    padding: 120px 40px 145px;
    font-size: 0.75em;
  }
}
@media (max-width: 545px) {
  .email form {
    flex-direction: column;
    align-items: center;
  }
  .email form input {
    width: 100%;
  }
  .email form button {
    width: 100%;
    display: block;
    margin-left: 0;
    padding: 13px 0;
    margin-top: 15px;
  }
}
@media (max-width: 1024px) {
  .grid01 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 267px);
  }
  .grid01 div[class*=grid01__item] {
    grid-column: initial;
    grid-row: initial;
  }
  .grid01 div[class*=grid01__item]:last-child {
    grid-column: 2/-1;
  }
}
@media (max-width: 652px) {
  .grid01 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 267px);
  }
  .grid01 div[class*=grid01__item] {
    grid-column: initial;
    grid-row: initial;
  }
  .grid01 div[class*=grid01__item]:last-child {
    grid-column: -2/-1;
  }
}
@media (max-width: 445px) {
  div.grid .retro-bike .retro-bike_info, div.grid .vintage-oliva .vintage-oliva_info, div.grid .boriosa .boriosa_info {
    padding: 70px 25px 95px;
  }

  div.grid01 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 267px);
  }

  div.fade_animation-function.aos-init.aos-animate h3 {
    font-size: 17px;
  }
  div.fade_animation-function.aos-init.aos-animate h3 + p {
    font-size: 15px;
  }
}
@media (max-width: 970px) {
  footer.footer address.address {
    margin-right: 0;
  }
}
@media (max-width: 620px) {
  footer.footer {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 373px) {
  footer.footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
  }
  footer.footer div.soocial-icons {
    margin-bottom: 1em;
  }
  footer.footer address.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}